
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: lightblue;
    padding: 10px 10px;
}
li{
list-style-type: none;
}

.redes{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    size: 300px;
    justify-content: space-evenly;
    justify-items: center;
    background-color: rgb(142, 235, 235);

}
.icono-social {
    font-size: 50px;
  }

h2 {
    text-align: center;
    font-weight: bold;
    padding: auto;
    width: 100%;
    height: 10%;
    background-size: cover;
}

h3{
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    
}


.navbar {
    display:flex;
    width: 100%;
    padding-top: 5px;
    border-radius: 5px;
    justify-content: space-between;
    background-color: #b9e4a37f;
    position: sticky;
    top: 20px;
    

}

.navbar :before {
    
    content: none;
}


.btnnav0 {
  
    width: 100%;  
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.btnnav1 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.btnnav2 {
    
    width:100%;
    border-style:  solid;
    border-radius: 5px;
    text-align: center;
}

.btnnav3 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    
}

.btnnav4 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.btnnav5 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}
.btnnav6 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}
.btnnav7 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}
.btnnav8 {
    
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}
.container-mt-5{
    align-items: center;
    text-align: center;
}


.slideshow-container {
    display: flex;
    width:100%;
    height: 400px;
    justify-content: center;
    align-content: center;
    background-color: #5ca49bc4;
}


.carousel img {
    display : flex;
    width: 100%;
    height:100%;
    background-image: cover;
    transition: transform 2.0s ease;
}

#curso1 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}


.container1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}
.logo-img{
    width: 80%;
    height: 80%;
    padding: 15px;
    background-color:#89a6a5;
    text-align: center;
    justify-items: center;

}

.box1 {
    width: 80%;
    text-align: center;
    justify-items: center;
}


section img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

#curso2 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}

.container2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}

.box2 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}

.custom-checkbox {
    position: relative;
    padding: 5px;
    cursor: pointer;
}
.custom-checkbox:hover input ~ .checkmark {
    background-color: #f2f2f2;
}
.custom-checkbox .checkmark::before {
    content: "Recordar mail";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    color: #333;
    opacity: 0;
    transition: opacity 0.8s ease;
}
.custom-checkbox input:checked ~ .checkmark::before {
    opacity: 1;
}
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f2f2f2;
}
.checkmark:hover {
    background-color: #ddd;
}
#curso3 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}
.container3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}

.box3 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}
.container4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}
.box4 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}
#curso4 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}
.container5 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}
.box5 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}
#curso5 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}
.container6 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-items: center;
}
.box6 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}
#curso6 {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #14131385;

}

#contacto {
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    background-color:#4f8b89;
    border: 5px solid #ddd;

}

.container7 {
    display: grid;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 168, 223);
    justify-items: center;
    align-content: center;

}

.box7 {
    width: 80%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}

.container8 {
    display: grid;  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 168, 223);
}
.box8 {
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-items: center;

}


#Curso1 {
    padding: 100px;
}

#Curso2 {
    padding: 100px;
}

#Curso3 {
    padding: 100px;
}
#Curso4 {
    padding: 100px;
}
#Curso5 {
    padding: 100px;
}
#Curso6 {
    padding: 100px;
}
#cardContainer1{
    display: grid;
    width: 100%;
    justify-content: center;
}
#cardContainer2{
    display: grid;
    width: 100%;
    justify-content: center;
}
#cardContainer3{
    display: grid;
    width: 100%;
    justify-content: center;
}
#cardContainer4{
    display: grid;
    width: 100%;
    justify-content: center;
}
#cardContainer5{
    display: grid;
    width: 100%;
    justify-content: center;
}
#cardContainer6{
    display: grid;
    width: 100%;
    justify-content: center;
}


footer {
    height: 300px;
    padding: 2%;
    width: 100%;
    background-color: #2e97b7;
    text-align: center;

}
footer div{
    background-color: #2e97b7;
    width: 100%;
}
form {
    display: inline-flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;    
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1em;

}
input[type="submit"],
button {
    background-color: #99cb9b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}
label {
    font-weight: bold;
}


/*..::Responsive::..*/


@media (max-width: 960px){
    .container7 {
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }
    .container6 {
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }
    .container5 {
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    .container4 {
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }

    .container3 {

        grid-template-columns: 100%;
        justify-content: center;


    }

    .container2 {

        grid-template-columns: 100%;       
        justify-content: center;
    }

    .container1 {

        grid-template-columns: 100%;
        justify-content: center;
    }

    .navbar {
        display: flex;
        color: rgb(110, 115, 218);
        padding: 1%;
        flex-direction: column;
        border-radius: 5px;
        position: relative;
    }

}
@media (max-width: 768px) {
    .navbar {
      display: none; 
    }
  
    .menu-desplegable {
      display: block; 
      background-color: #0033dc96;
      padding: 10px;
    }
  
    .menu-desplegable a {
      color: rgb(110, 115, 218);
      text-decoration: none;
      display: block;
      padding: 10px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #181d01;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
  }

.card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
  
  .card-body {
    padding: 10px; 
    }
  
  .card-title {
    font-size: 2.2rem; 
    font-weight: bold;
    }
  
  .card-text {
    font-size: 1.5rem; 
    }


  